@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Made Dillan";
  src: url("../public/fonts/Made\ Dillan.otf");
  font-family: "Poppins Medium";
  src: url("../public/fonts/Poppins\ Medium.otf");
  font-family: "Poppins Regular";
  src: url("../public/fonts/Poppins\ Regular.otf");
}
